@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@* Views/Home/Index.cshtml *@

@inject IWebHostEnvironment hostingEnv
@{
    var vueUrl = hostingEnv.IsDevelopment() ? "/dist/mainBundle.js" : "/dist/mainBundle.min.js";
    var mainUrl = hostingEnv.IsDevelopment() ? "/dist/appBundle.js" : "/dist/appBundle.min.js";
    var axiUrl = hostingEnv.IsDevelopment() ? "/dist/axiBundle.js" : "/dist/axiBundle.min.js";
    var jaxUrl = hostingEnv.IsDevelopment() ? "/dist/jaxBundle.js" : "/dist/jaxBundle.min.js";

    ViewData["Title"] = "DiffEq";
}

<div v-cloak>
    <section id="app-templates"></section>
    <div id="app">loading</div>
</div>

@section Scripts{
    <script type="systemjs-importmap">
    {
        "imports": {
            "vue": "@vueUrl",
            "axios": "@axiUrl",
            "MathJax": "@jaxUrl"
        },
        "depcache": {
            "@vueUrl":["@axiUrl"],
            "@axiUrl":["@jaxUrl"]
        }
    }
    </script>
    <script>   
    Object.getPrototypeOf(System).firstGlobalProp = true
    System.import('vue')
    .then(()=>$.get("dist/apptemplatesbundle.html").done(function (data) {
        $('#app-templates').append(data);
        System.import('@mainUrl').then(function (m) {
            System.import('main');
        });
    }));
    </script>
}